:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /*Text colors */
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --white-color: #ffffff;

    /*Background colors */
    --main-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
}

body {
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
    color: currentColor;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.list {
    list-style: none;
}

/* ---Студия---*/

.services-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Логотип */
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

/* Секция Герой */
.hero-btn:hover,
.hero-btn:focus {
    color: #ffffff;
    background-color: var(--hero-btn);
}
/* Чем мы занимаемся */
/* Наша команда */
/* Подвал */

/* ---Портфолио--- */

/* Верхняя линия */

/* filters */